@media screen and (min-width: 768px) {
  @import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  body,
  html,
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .mobileDesigne {
    display: none;
  }

  .desktop_designe {
    display: block;
  }

  .header-navbar {
    background-color: #3c3a39;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
  }

  .header-navbar-item-box {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-navbar__logo {
    font-size: 1rem;
    color: #fff;
  }

  .header-navbar__links {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .links {
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
  }

  .header-navbar__links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }

  .mail {
    height: 4rem;
    display: flex;
    align-items: center;
  }

  /* main information */

  .header-mainDivContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainTitleInfoPage {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .header-mainDivContainer__title {
    color: #ff6b00;
    font-size: 42px;
    font-family: 'Crete Round', serif;
    font-weight: 300;
    line-height: 5rem;
    min-width: 350px;
  }

  .mainPageInformation {
    height: 915px;
    width: 100%;
    background-color: #1c1a19;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
  }

  .header-mainDivContainer__subtitle {
    font-size: 26px;
    color: #fff5e1;
    font-weight: 700;
    font-family: 'inter', sans-serif;
    min-width: 350px;
  }

  .header-mainDivContainer__info {
    color: #fff5e1;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    min-width: 350px;
  }

  .header-mainDivContainer__socialMedia {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }

  .header-mainDivContainer__socialMedia ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    font-family: 'Inter', sans-serif;
  }

  .bgImgM {
    width: 100%;
    height: 100%;
    background-image: url(../Img/imgMain.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-position-y: center;
  }

  /* modals-section */

  .modals-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .modals-section-sub-div {
    width: 79%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 8rem 0;
  }

  .modals-section__title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    font-family: 'Crete Round', serif;
  }

  .modals-section__title h2 {
    min-width: 20rem;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
  }

  .line {
    border-bottom: 2px solid #1c1a19;
    width: 100%;
    margin-left: 0.5rem;
  }

  .modals-section__mainbox {
    margin-top: 90px;
    width: 100%;
  }

  .modalComponent_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .modalComponent__img_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .modalComponent__img_one {
    width: 100%;
    height: 100%;
  }

  .modalComponent__info {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 0.5rem;
    padding-bottom: 2rem;
  }

  .modalComponent__info-title {
    height: auto;
    display: inline-grid;
    font-family: 'Crete Round', serif;
  }

  .modalComponent__info-title h2 {
    color: #091e42;
    font-size: 35px;
    font-weight: 200;
    font-family: 'Crete Round', serif;
  }

  .modalComponent__info-description {
    height: auto;
    max-width: 30rem;
    color: #091e42;
  }

  .modalComponent__info-description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    height: auto;
    color: #091e42;
    font-family: 'Inter', sans-serif;
  }

  .modalComponent__info-technologies {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
    font-family: 'Inter', sans-serif;
  }

  .modalComponent__info-technologies li {
    padding: 8px 10px 8px 10px;
    border: 1px solid #adadad;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #091e42;
    font-family: 'Inter', sans-serif;
  }

  .modalComponent__info-button {
    width: 100%;
    height: auto;
    margin-top: 0.3rem;
  }

  .modalComponent__info-button button {
    width: auto;
    background-color: #ff6b00;
    padding: 12px 20px 12px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
  }

  .layout {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .box_Conteiner {
    width: 100%;
    height: auto;
    display: none;
  }

  .component_one {
    position: relative;
  }

  .component_one_img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .component_one_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .componet_one_button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .componet_one_button button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    border: none;
    background-color: #ff6b00;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }

  /* componenet two */

  .component_two_img {
    width: 100%;
    height: 100%;
  }

  .component_two_box {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding: 30px 16px 20px 16px;
    display: flex;
    align-items: end;
  }

  .component_two_grid {
    width: 369px;
    height: 300px;
    display: grid;
    justify-content: end;
    align-content: end;
    grid-template-rows: min-content min-content min-content;
    gap: 1rem;
    margin-bottom: 4rem;
  }

  .component_two_title {
    font-family: 'Crete Round', serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }

  .component_two_p {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
    font-family: 'Inter', sans-serif;
  }

  .component_two_tecnologies {
    display: flex;
    list-style: none;
    gap: 0.8rem;
  }

  .component_two_tecnologies li {
    border: none;
    padding: 8px 10px 8px 10px;
    background-color: rgba(223, 223, 223, 0.158);
    backdrop-filter: blur(9px);
    text-decoration: none;
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    font-family: 'Inter', sans-serif;
  }

  /* about myself secction */
  .aboutMeSection {
    width: 100%;
    height: auto;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutMeSection__box {
    height: 582px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutMeSectionIndfo {
    display: flex;
    justify-content: center;
  }

  .aboutMeGrid {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .aboutMeSection__title {
    color: #ff6b00;
    font-size: 50px;
    font-weight: 200;
    min-width: 350px;
    font-family: 'Crete Round', serif;
  }

  .aboutMeSection__description {
    color: #fff5e1;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    min-width: 350px;
    font-family: 'Inter', sans-serif;
  }

  .aboutMeSection__button button {
    width: 156px;
    height: 48px;
    border: none;
    background-color: #ff6b00;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
    font-family: 'Crete Round', serif;
  }

  .bgbox {
    width: 70%;
    height: 100%;
    background-image: url(../imgDesktop/aboutbg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    float: right;
  }

  /* tecnologies */
  .technologiesSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    width: 79%;
    border-top: 2px solid #adadad;
  }

  .boxCenter {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /* languajes and stacks */

  .Stack {
    list-style: none;
  }

  .technologiesSection__imgH2Box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .img__Skill {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .img__Skill h2 {
    height: auto;
    font-size: 30px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding-right: 2.5rem;
  }

  .technologiesSection__imgH2Box h2 {
    height: auto;
    font-size: 30px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding-right: 2.5rem;
  }

  .TecnologiesStack {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
  }

  .TecnologiesStack li {
    margin-top: 0.5rem;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
  }

  /* Contact seccion */
  .contactSection {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .contactSectionGrid {
    width: 79%;
    height: 35rem;
    display: grid;
    grid-template-columns: 41% 1fr;
    align-content: center;
  }

  .contactSection__title {
    width: 87%;
    height: auto;
    font-size: 25px;
    font-weight: 800;
    color: #262626;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }

  .contactSection__formBox {
    width: 87%;
    height: 330px;
    gap: 1.5rem;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
  }

  .nameAndLastname {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .contactSection__formInputbox {
    width: 100%;
    height: auto;
  }

  .contactSection__formInputbox input {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-bottom: 2px solid #cccaca;
    background-color: transparent;
    outline: none;
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  .contactSection__formTextArea {
    width: auto;
    height: 9rem;
  }

  .contactSection__formTextArea textarea {
    width: 100%;
    height: 100%;
    background-color: #fcf9f9;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  .contactSection__formTextArea textarea::placeholder {
    color: #3c3a39;
    font-style: italic;
  }

  .contactSection__formButton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contactSection__formButton button {
    width: 10rem;
    padding: 1rem 1rem;
    border: none;
    background-color: #ff4b04;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 1px;
    font-family: 'Roboto', sans-serif;
  }

  .links_footer {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #adadad42;
  }

  .links__socialMediaContact {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  /* button hovers */

  .contactSection__formButton button:hover {
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #ff6b00;
  }

  .contactSection__formButton button:active {
    background-color: #e05304;
    color: #fff;
  }

  .modalComponent__info-button button:hover {
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #ff6b00;
  }

  .modalComponent__info-button button:active {
    background-color: #e05304;
    color: #fff;
  }

  .aboutMeSection__button button:hover {
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #ff6b00;
  }

  .aboutMeSection__button button:active {
    background-color: #e05304;
    color: #fff;
  }

  .componet_one_button button:hover {
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #ff6b00;
  }

  .componet_one_button button:active {
    background-color: #e05304;
    color: #fff;
  }

  .popupButtons a:hover {
    background-color: #e05304;
    border: 1px solid #ff6b00;
    color: #fff;
  }

  @media screen and (min-width: 1000px) {
    .modalComponent__info {
      display: grid;
      grid-template-rows: min-content min-content min-content min-content;
      gap: 2rem;
      padding-bottom: 2rem;
    }

    .header-navbar__logo {
      font-size: 1.2rem;
      color: #fff;
    }

    .header-navbar__links a {
      font-size: 1.3rem;
    }

    .header-mainDivContainer__info {
      font-size: 21px;
    }

    .modalComponent__info-title {
      height: auto;
    }

    .header-mainDivContainer__title {
      font-size: 45px;
      min-width: 400px;
    }

    .modalComponent__info-title h2 {
      color: #091e42;
      font-size: 40px;
      font-weight: 200;
    }

    .modalComponent__info-description {
      height: auto;
      max-width: 30rem;
      color: #091e42;
    }

    .modalComponent__info-description p {
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      height: auto;
      color: #091e42;
    }

    .modalComponent__info-technologies {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 0.5rem;
    }

    .modalComponent__info-technologies li {
      padding: 10px 12px 10px 12px;
      border: 1px solid #adadad;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: #091e42;
    }

    .modalComponent__info-button {
      width: 100%;
      height: auto;
      margin-top: 0.3rem;
    }

    .modalComponent__info-button button {
      width: auto;
      background-color: #ff6b00;
      padding: 12px 20px 12px 20px;
      color: #fff;
      border: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      border-radius: 5px;
    }
  }

  @media screen  and (min-width: 768px) and (max-width: 1200px) {
    .popup {
      width: 100%;
      height: 100%;
      background-color: rgba(37, 47, 137, 0.08);
      backdrop-filter: blur(6px);
      position: fixed;
      top: 0;
      bottom: 0;
      display: none;
    }

    .popupSubContainer {
      width: 70%;
      height: 80%;
      background-color: #fff;
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      border-radius: 5px;
      gap: 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .popupInfo {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 100%;
    }

    .popupTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .closeImgs {
      width: 1.1rem;
      height: 1.1rem;
      cursor: pointer;
      margin-top: 0.5rem;
    }

    .popupInfo h2 {
      font-family: 'Crete Round', serif;
      font-size: 35px;
      line-height: 44px;
      color: #172b4d;
      font-weight: 600;
      max-width: 90%;
    }

    .popupInfo ul {
      list-style: none;
      display: flex;
      gap: 0.8rem;
    }

    .popupInfo li {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 20px;
      padding: 12px 12px 12px 12px;
      border: 1px solid #979493;
    }

    .popupDetails {
      width: 100%;
      height: 80%;
      display: grid;
      grid-template-rows: auto 50%;
      gap: 2rem;
    }

    .popupImg {
      width: auto;
      overflow: hidden;
    }

    .popupImg img {
      width: 100%;
      height: 100%;
    }

    .popupMainInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;
    }

    .popupP {
      width: 100%;
      font-size: 2.1vh;
      height: 100%;
      overflow: scroll;
    }

    .popupP p {
      font-family: 'Inter', sans-serif;
      font-size: 100%;
      font-weight: 400;
      line-height: 30px;
      width: 100%;
      margin: 0;
      padding: 0;
      color: #344563;
    }

    .popupButtons {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .popupButtons a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-decoration: none;
      border-radius: 5px;
      color: #fff;
    }

    .live {
      width: auto;
      height: auto;
      padding: 16px 12px;
      background-color: #e05304;
    }

    .see {
      width: auto;
      height: auto;
      padding: 16px 12px;
      background-color: #e05304;
    }

    .validationBox {
      width: 280px;
      padding: 0.8rem 1rem;
      border: none;
      background-color: rgb(255, 165, 165);
      display: none;
      font-size: 1.2rem;
      font-weight: 600;
      color: #3c3a39;
    }
  }

  @media screen  and (min-width: 1020px) {
    .popup {
      width: 100%;
      height: 100%;
      background-color: rgba(37, 47, 137, 0.08);
      backdrop-filter: blur(6px);
      position: fixed;
      top: 0;
      bottom: 0;
      display: none;
    }

    .popupSubContainer {
      width: 80%;
      height: auto;
      background-color: #fff;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      border-radius: 5px;
      gap: 1.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      margin: auto;
    }

    .popupInfo {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 100%;
    }

    .popupTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .closeImgs {
      width: 1.1rem;
      height: 1.1rem;
      cursor: pointer;
      margin-top: 0.5rem;
    }

    .popupInfo h2 {
      font-family: 'Crete Round', serif;
      font-size: 45px;
      line-height: 44px;
      color: #172b4d;
      font-weight: 600;
      max-width: 90%;
    }

    .popupInfo ul {
      list-style: none;
      display: flex;
      gap: 0.8rem;
    }

    .popupInfo li {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 20px;
      padding: 12px 12px 12px 12px;
      border: 1px solid #979493;
    }

    .popupDetails {
      width: 100%;
      max-height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 450px;
      gap: 2rem;
    }

    .popupImg {
      width: auto;
      overflow: hidden;
      height: 100%;
    }

    .popupImg img {
      width: 100%;
      height: 100%;
    }

    .popupMainInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;
    }

    .popupP {
      width: 100%;
      height: 100%;
    }

    .popupP p {
      font-family: 'Inter', sans-serif;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 30px;
      width: 100%;
      margin: 0;
      padding: 0;
      color: #344563;
    }

    .popupButtons {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .popupButtons a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-decoration: none;
      border-radius: 5px;
      color: #fff;
    }

    .live {
      width: auto;
      height: auto;
      padding: 14px 12px;
      background-color: #ff6b00;
    }

    .see {
      width: auto;
      height: auto;
      padding: 14px 12px;
      background-color: #ff6b00;
    }

    /* Validation */

    .validationBox {
      width: 280px;
      padding: 0.8rem 1rem;
      border: none;
      background-color: rgb(255, 165, 165);
      display: none;
      font-size: 1.2rem;
      font-weight: 600;
      color: #3c3a39;
    }
  }

  @media screen and (min-width: 1200px) {
    .layout {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
    }

    .header-navbar__logo {
      font-size: 1.2rem;
      color: #fff;
    }

    .header-mainDivContainer__title {
      font-size: 50px;
      min-width: 400px;
    }

    .header-navbar__links a {
      font-size: 1.4rem;
    }

    .header-mainDivContainer__info {
      font-size: 22px;
    }

    .component_two_title {
      font-family: 'Crete Round', serif;
      font-size: 22px;
      font-weight: 400;
      color: #fff;
    }

    .contactSection__title {
      width: 87%;
      height: 262px;
      font-size: 29px;
      font-weight: 800;
      color: #262626;
      font-family: 'Crete Round', serif;
    }
  }

  @media screen and (min-width: 1550px) {
    .popupP p {
      font-size: 1.4rem;
      line-height: 40px;
    }
  }
}
